.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #686868;
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 30px 5px #00000026;
  display: none;
  z-index: 100; }
  .modal.show-modal {
    display: flex; }
  .modal.modal-transparent {
    background: transparent; }
  .modal .modal-content {
    max-width: 1200px;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    position: relative; }
  .modal .modal-close {
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 35px;
    color: #ffffff; }
