.form-group .form-select {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  min-width: 100px;
  cursor: pointer; }
  .form-group .form-select .selected-dropdown {
    padding: 10px;
    border: 1px solid #f8f8f8;
    background: #f8f8f8; }
  .form-group .form-select i {
    color: #000000; }
  .form-group .form-select .placeholder {
    font-size: 13px;
    color: #000000; }
  .form-group .form-select .dropdown-container {
    position: absolute;
    z-index: 999;
    background: #f8f8f8;
    width: 100%;
    left: 0; }
    .form-group .form-select .dropdown-container .dropdown {
      list-style: none;
      max-height: 200px;
      overflow-y: scroll;
      padding: 0;
      margin: 0;
      border: 1px solid #f8f8f8;
      display: none;
      width: 100%;
      text-align: left; }
      .form-group .form-select .dropdown-container .dropdown li {
        padding: 10px; }
        .form-group .form-select .dropdown-container .dropdown li.search-input {
          padding: 0;
          position: relative; }
          .form-group .form-select .dropdown-container .dropdown li.search-input i {
            position: absolute;
            left: 10px;
            top: calc(50% - 7px);
            font-size: 14px;
            color: #ababab; }
          .form-group .form-select .dropdown-container .dropdown li.search-input input {
            padding: 10px 10px 10px 30px;
            width: 100%; }
  .form-group .form-select.dropdown-open .selected-dropdown {
    border-bottom-color: transparent; }
  .form-group .form-select.dropdown-open .dropdown {
    border-top-color: transparent;
    display: block; }

.form-group .form-errors {
  list-style: none;
  text-align: left;
  font-size: 12px;
  padding: 10px 0 0; }
  .form-group .form-errors li {
    padding-bottom: 10px;
    color: #cc6363; }
    .form-group .form-errors li:last-child {
      padding-bottom: 0; }
