.homestay-group {
  margin-bottom: 15px; }
  .homestay-group .homestay {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px; }
    .homestay-group .homestay .homestay-image {
      flex: 0 0 30%; }
    .homestay-group .homestay .homestay-details {
      flex: 0 0 70%;
      padding-left: 20px;
      font-size: 13px;
      font-weight: 500; }
      .homestay-group .homestay .homestay-details .homestay-price {
        margin-bottom: 10px; }
      .homestay-group .homestay .homestay-details .homestay-title {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 10px; }
