.detail-container {
  margin-bottom: 0px !important;
  .number-line {
      width: 100%;
      height: 1px;
      background-color: black;
      margin: 15px 0px;
  }
  .contact-details {
    .contact-option {
      display: flex;
      align-content: center;
      align-items: center;
      margin-bottom: 15px;
      i {
        margin-right: 15px;
        font-size: 20px;
        color: #00a0ba;
      }
      font-size: 13px;
    }
  }
  .center-details {
    .center-option {
      display: flex;
      align-content: center;
      align-items: center;
      margin-bottom: 15px;
      i {
        margin-right: 15px;
        font-size: 20px;
        color: #000000;
      }
      font-size: 13px;
    }
  }
}