.detail-container {
  margin-bottom: 0px !important; }
  .detail-container .number-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 15px 0px; }
  .detail-container .contact-details .contact-option {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 13px; }
    .detail-container .contact-details .contact-option i {
      margin-right: 15px;
      font-size: 20px;
      color: #00a0ba; }
  .detail-container .center-details .center-option {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 13px; }
    .detail-container .center-details .center-option i {
      margin-right: 15px;
      font-size: 20px;
      color: #000000; }
