.page-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 13px;
  color: #999999;
  font-weight: 500;
  width: 100%; }
  .page-filters .sort-buttons button {
    margin-right: 15px; }
  .page-filters .layout-switcher {
    display: flex;
    align-items: center; }
  .page-filters .toggle-view .toggle-button {
    display: inline-block; }
    .page-filters .toggle-view .toggle-button button {
      padding: 8px 8px;
      background: none;
      border: none;
      color: #00a0ba;
      margin-left: 15px;
      box-shadow: none; }
      .page-filters .toggle-view .toggle-button button i {
        font-size: 15px; }
    .page-filters .toggle-view .toggle-button.active button {
      background-color: #00a0ba;
      color: #ffffff; }
