@import "_colors.scss";

.page-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 13px;
  color: #999999;
  font-weight: 500;
  width: 100%;
  .sort-buttons {
    button {
      margin-right: 15px;
    }
  }
  .layout-switcher {
    display: flex;
    align-items: center;
  }
  .toggle-view {
    .toggle-button {
      display: inline-block;
      button {
        padding: 8px 8px;
        background: none;
        border: none;
        color: $color2;
        margin-left: 15px;
        box-shadow: none;
        i {
          font-size: 15px;
        }
      }
      &.active {
        button {
          background-color: $color2;
          color: #ffffff;
        }
      }
    }
  }
}
