$size: 120px;
.review-card {
  background: #ffffff;
  height: 100%;
  .card-image {
    .course-title {
      padding: 10px 20px;
      background-color: #ffffff;
      font-weight: 900;
      border-radius: 5px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
  .card-body {
    text-align: center;
    .reviewer-image {
      width: $size;
      height: $size;
      margin: -(($size/2)+30) auto 0;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #fff;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .reviewer-rating {
      margin: 10px 0;
    }
    .reviewer-name {
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .review-comment {
      font-size: 12px;
      color: #bebebe;
    }
  }
}
