div {
  border: 0; }

.courses-comparison-table {
  line-height: 1;
  padding: 70px 0; }
  .courses-comparison-table::after {
    display: none;
    content: "mobile"; }

@media only screen and (min-width: 1170px) {
  .courses-comparison-table::after {
    content: "desktop"; }
  .courses-comparison-table header {
    padding: 0 5% 40px; }
  .courses-comparison-table .filter {
    padding: 0.6em 2em;
    margin-left: 1.6em; } }

.courses-compare-table {
  position: relative;
  overflow: hidden; }
  .courses-compare-table .features {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 120px;
    border-style: solid;
    border-color: #e6e6e6;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #fafafa;
    opacity: 0.95; }
    .courses-compare-table .features::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 4px;
      height: 100%;
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.06), transparent);
      opacity: 0; }

@media only screen and (min-width: 1170px) {
  .courses-compare-table .features {
    width: 210px; } }

.courses-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.courses-columns {
  margin-left: 120px; }
  .courses-columns::after {
    clear: both;
    content: "";
    display: table; }
  .courses-columns .course-item {
    position: relative;
    float: left;
    width: 150px;
    text-align: center;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    border-style: solid;
    border-color: #e6e6e6;
    border-top-width: 1px;
    border-bottom-width: 1px; }

@media only screen and (min-width: 1170px) {
  .courses-columns {
    margin-left: 210px; } }

.filtered .courses-columns .course:not(.selected) {
  position: absolute; }

@media only screen and (min-width: 1170px) {
  .courses-columns .course-item {
    width: 310px; } }

.features-list > div {
  padding: 25px 40px;
  border-color: #e6e6e6;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  font-size: 13px; }

.features .features-list > div,
.courses-compare-table .features .top-info {
  padding: 25px 10px;
  text-align: left; }

@media only screen and (min-width: 1170px) {
  .features .features-list > div,
  .courses-compare-table .features .top-info {
    padding: 25px 20px;
    letter-spacing: 1px; } }

.features .features-list > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.courses-compare-table .top-info {
  position: relative;
  height: 177px;
  width: 150px;
  text-align: center;
  padding: 1.25em 2.5em;
  border-color: #e6e6e6;
  border-style: solid;
  border-right-width: 1px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  cursor: pointer;
  background: #ffffff; }
  .courses-compare-table .top-info::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), transparent);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.06), transparent);
    opacity: 0; }
  .courses-compare-table .top-info img {
    display: block;
    backface-visibility: hidden; }
  .courses-compare-table .top-info h3,
  .courses-compare-table .top-info img {
    transition: transform 0.3s; }
  .courses-compare-table .top-info .close {
    padding: 0;
    font-size: 20px;
    background: none;
    border: none;
    margin-bottom: 10px;
    color: #edae1f; }

.courses-compare-table .features .top-info {
  width: 120px;
  cursor: auto;
  background: #fafafa; }

@media only screen and (min-width: 1170px) {
  .courses-compare-table .top-info {
    height: 280px;
    width: 310px; }
    .courses-compare-table .top-info .check {
      margin-bottom: 1.5em; } }

@media only screen and (min-width: 1170px) {
  .courses-compare-table .features .top-info {
    width: 210px; } }
