.input-slider-container {
  display: inline-block; }
  .input-slider-container .input-slider {
    background: #f8f8f8;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    align-content: center; }
    .input-slider-container .input-slider .input-slider-value {
      display: inline-block;
      padding: 0 20px; }
    .input-slider-container .input-slider .input-slider-controls {
      display: inline-block;
      background: none;
      padding: 0;
      line-height: 1;
      border: none; }
  .input-slider-container input {
    display: none; }
