/* Customize the label (the container) */
.radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .radio-button .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000; }
    .radio-button .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: white; }
  .radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .radio-button input:checked ~ .checkmark {
      background-color: #f5a353;
      border-color: #f5a353; }
      .radio-button input:checked ~ .checkmark:after {
        display: block; }
