.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 8.33%;
}
.col-2 {
  flex: 0 0 16.66%;
}
.col-3 {
  flex: 0 0 24.99%;
}
.col-4 {
  flex: 0 0 33.32%;
}
.col-5 {
  flex: 0 0 41.65%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.33%;
}
.col-8 {
  flex: 0 0 66.66%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.33%;
}
.col-11 {
  flex: 0 0 50%;
}
.col-12 {
  flex: 0 0 100%;
}
