.auth-modal .modal-content {
  max-width: 1000px;
  height: auto;
  padding: 0; }

.auth-modal .auth-container {
  width: 100%;
  height: 100%;
  display: flex; }
  .auth-modal .auth-container .auth-content {
    flex: 0 0 65%;
    padding: 40px 60px;
    align-items: center;
    align-content: center;
    display: flex; }
    .auth-modal .auth-container .auth-content .auth-body {
      text-align: center;
      margin: 0 auto;
      width: 100%; }
      .auth-modal .auth-container .auth-content .auth-body .heading {
        color: #00a0ba;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 1px;
        margin-bottom: 15px; }
      .auth-modal .auth-container .auth-content .auth-body .sub-heading {
        color: #2d2d2d;
        font-size: 14px;
        margin-bottom: 30px; }
      .auth-modal .auth-container .auth-content .auth-body .form-group {
        text-align: left; }
        .auth-modal .auth-container .auth-content .auth-body .form-group label {
          font-size: 12px;
          margin-bottom: 10px;
          display: block;
          font-weight: 500; }
        .auth-modal .auth-container .auth-content .auth-body .form-group .warning {
          padding: 10px 20px;
          margin-bottom: 15px;
          display: block;
          font-size: 12px;
          color: #856404;
          background-color: #fff3cd;
          border-color: #ffeeba; }
      .auth-modal .auth-container .auth-content .auth-body input {
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        padding: 13px 20px; }
      .auth-modal .auth-container .auth-content .auth-body .alert {
        margin-top: 20px; }
      .auth-modal .auth-container .auth-content .auth-body .secondary-link {
        text-align: left;
        font-size: 13px;
        margin: 25px 0 0;
        color: #868686;
        font-weight: 500; }
        .auth-modal .auth-container .auth-content .auth-body .secondary-link span {
          color: #00a0ba;
          font-weight: 900;
          letter-spacing: 1px;
          margin-left: 10px;
          cursor: pointer; }
      .auth-modal .auth-container .auth-content .auth-body .button-container {
        margin-top: 20px; }
        .auth-modal .auth-container .auth-content .auth-body .button-container .btn {
          width: 100%;
          font-size: 12px; }
        .auth-modal .auth-container .auth-content .auth-body .button-container .button-group {
          display: flex;
          margin-top: 20px; }
          .auth-modal .auth-container .auth-content .auth-body .button-container .button-group .btn {
            margin-right: 10px; }
            .auth-modal .auth-container .auth-content .auth-body .button-container .button-group .btn i {
              margin-right: 10px; }
            .auth-modal .auth-container .auth-content .auth-body .button-container .button-group .btn:last-child {
              margin-right: 0;
              margin-left: 10px; }
      .auth-modal .auth-container .auth-content .auth-body .footer-links {
        margin-top: 25px; }
        .auth-modal .auth-container .auth-content .auth-body .footer-links a {
          text-decoration: none;
          font-size: 12px;
          color: #555555;
          padding: 0 10px;
          border-right: 1px solid #555555; }
          .auth-modal .auth-container .auth-content .auth-body .footer-links a:last-child {
            border-right: none; }
  .auth-modal .auth-container .auth-image {
    flex: 0 0 35%; }
