.no-suggestions {
  background: #ffffff;
  margin-top: 10px;
  border-radius: 5px;
  list-style: none;
  text-align: left;
  padding: 10px;
  color: #828282;
  font-size: 13px;
}
.suggestions {
  @extend .no-suggestions;
  li {
    padding: 10px 15px;
    border-bottom: 2px solid #f7f7f7;
    &:last-child {
      border-bottom: none;
    }
  }
}
