.accordion .accordion-item {
  margin-bottom: 25px; }
  .accordion .accordion-item .card-header {
    background-color: #00a0ba;
    color: #ffffff;
    padding: 20px 0 20px 100px;
    font-weight: 900;
    position: relative;
    cursor: pointer; }
    .accordion .accordion-item .card-header .toggler {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 30px; }
      .accordion .accordion-item .card-header .toggler .icon {
        position: relative;
        width: 15px;
        height: 15px;
        display: inline-block; }
        .accordion .accordion-item .card-header .toggler .icon:before {
          width: 15px;
          height: 3px;
          top: 6px; }
        .accordion .accordion-item .card-header .toggler .icon:after {
          margin-left: 6px;
          width: 3px;
          height: 15px; }
        .accordion .accordion-item .card-header .toggler .icon:before, .accordion .accordion-item .card-header .toggler .icon:after {
          content: "";
          position: absolute;
          background: #ffffff;
          display: inline-block;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    .accordion .accordion-item .card-header a {
      display: block;
      color: inherit; }
  .accordion .accordion-item .card-body {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease; }
    .accordion .accordion-item .card-body .content {
      padding: 50px 50px 50px 80px; }
  .accordion .accordion-item.active .card-header .toggler {
    background-color: #f8f8f8; }
    .accordion .accordion-item.active .card-header .toggler .icon:after, .accordion .accordion-item.active .card-header .toggler .icon::before {
      background-color: #00a0ba; }
    .accordion .accordion-item.active .card-header .toggler .icon:after {
      margin-top: 6px;
      width: 3px;
      height: 3px; }
  .accordion .accordion-item.active .card-body {
    background-color: #f8f8f8;
    height: auto; }
