@import "_colors.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
p {
  margin: 0 0 15px;
}
a {
  text-decoration: none;
  color: $color1;
}
button {
  &:focus {
    outline: none;
  }
}
ul {
  margin: 0 0 20px;
  padding-left: 20px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.clearfix {
  clear: both;
}
.container {
  margin: 0 auto;
}
.flex-box {
  display: flex;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.full-width {
  width: 100%;
}
@mixin heading {
  font-weight: 900;
}
.heading-1 {
  @include heading;
  font-size: 30px;
  letter-spacing: 3px;
}
.heading-2 {
  @include heading;
  font-size: 28px;
}
.heading-3 {
  @include heading;
  font-size: 25px;
  letter-spacing: 2px;
}
.heading-4 {
  @include heading;
  font-size: 22px;
  letter-spacing: 2px;
}
.heading-5 {
  @include heading;
  font-size: 18px;
  letter-spacing: 2px;
}
.heading-6 {
  @include heading;
  font-size: 15px;
  letter-spacing: 2px;
}
.bg-default {
  background: $color1;
}
.bg-primary {
  background: $color2;
}
.bg-secondary {
  background-color: #f8f8f8;
}
.pull-right {
  float: right;
}
.ratings {
  display: flex;
  align-items: center;
  span {
    color: #cacdd3;
    font-size: 14px;
    margin-left: 10px;
  }
}

button {
  cursor: pointer;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
